################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/todolist-api/.vs
*.cs
/todolist-api/obj/Debug/net9.0/todolist-api.AssemblyInfoInputs.cache
/todolist-api/bin/Debug/net9.0
/todolist-api/obj
